---
http_interactions:
- request:
    method: get
    uri: https://api.rescuegroups.org/v5/public/animals/breeds?limit=100
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - T5la0hn8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
    body:
      encoding: UTF-8
      string: "{"meta":{"count":807,"countReturned":100,"pageReturned":1,"pages":9,"limit":100,"transactionId":"zCVsuTDhnNbm","requestTime":1577577729,"responseTime":1577577729,"responseMs":12},"data":[{"type":"breeds","id":"1","attributes":{"name":"Abyssinian"},"links":{"self":"\/public\/animals\/breeds\/1"}},{"type":"breeds","id":"2","attributes":{"name":"American
        Curl"},"links":{"self":"\/public\/animals\/breeds\/2"}},{"type":"breeds","id":"3","attributes":{"name":"American
        Shorthair"},"links":{"self":"\/public\/animals\/breeds\/3"}},{"type":"breeds","id":"4","attributes":{"name":"American
        Wirehair"},"links":{"self":"\/public\/animals\/breeds\/4"}},{"type":"breeds","id":"5","attributes":{"name":"Angora"},"links":{"self":"\/public\/animals\/br[...]
