---
http_interactions:
- request:
    method: get
    uri: https://api.rescuegroups.org/v5/public/animals/11103925?fields%5Banimals%5D=name,breedPrimary,ageGroup
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - T5la0hn8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
    body:
      encoding: UTF-8
      string: '{"meta":{"count":1,"countReturned":1,"pageReturned":1,"limit":25,"pages":1,"requestTime":1577553107,"responseTime":1577553107,"responseMs":17,"transactionId":"vyrwpVJmsuJZ"},"data":[{"type":"animals","id":"11103925","attributes":{"name":"Sage","breedPrimary":"American
        Staffordshire Terrier","ageGroup":"Adult"}}]}'
  recorded_at: Sat, 28 Dec 2019 17:11:47 GMT
recorded_with: VCR 5.0.0
