---
http_interactions:
- request:
    method: get
    uri: https://api.rescuegroups.org/v5/public/orgs/105/animals?limit=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - T5la0hn8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
    body:
      encoding: UTF-8
      string: '{"meta":{"count":3950,"countReturned":20,"pageReturned":1,"limit":20,"pages":198,"requestTime":1577578362,"responseTime":1577578362,"responseMs":41,"transactionId":"wUAMFAilLRjP"},"data":[{"type":"animals","id":"10005058","attributes":{"adoptionFeeString":"$225
        includes neuter n vaccines","ageGroup":"Young","breedString":"Rat Terrier
        \/ Mixed (short coat)","breedPrimary":"Rat Terrier","breedPrimaryId":186,"isBreedMixed":true,"coatLength":"Short","descriptionHtml":"I
        am a very happy little 9 month puppy who is looking for a new forever home.
        &nbsp;My previous owner said that his big dogs were jealous of me and brought
        me to BARCPETRESCUE to find a loving home. &nbsp;I absolutely love people
        and I like to play with toys. Please call 951-845-1513 to make an appointment
        to meet me! I promise that I will love you and give you lots of doggy kisses!<img
        src=\"https:\/\/tracker.rescuegroups.org\/pet?10005058\" width=\"0\" height=\"0\"
        alt=\"\" \/>","descriptionText":"I am a very happy little 9 month puppy who
        is looking for a new forever home. &nbsp;My previous owner said that his big
        dogs were jealous of me and brought me to BARCPETRESCUE to find a loving home.
        &nbsp;I absolutely love people and I like to play with toys. Please call 951-845-1513
        to make an appointment to meet me! I promise that I will love you and give
        you lots of doggy kisses!","priority":10,"name":"Charlie","pictureCount":2,"pictureThumbnailUrl":"https:\/\/s3.amazonaws.com\/filestore.rescuegroups.org\/105\/pictures\/animals\/10005\/10005058\/34751815_100x75.jpg","qualities":[""],"rescueId":"3977","sex":"Male","sizeGroup":"Small","slug":"adopt-charlie-rat-terrier-dog","isSponsorable":true,"summary":"I
        am a happy 9 month puppy looking for a new home!","trackerimageUrl":"https:\/\/tracker.rescuegroups.org\/pet?10005058","url":"https:\/\/www.barconline.com\/animals\/detail?AnimalID=10005058","createdDate":"2016-05-15T01:06:33Z","updatedDate":"2016-06-01T23:25:12Z"}},{"type":"animals","id":"10005088","attributes":{"adoptionFeeString":"$250.00
        includes spay and shots","ageGroup":"Baby","breedString":"Australian Shepherd
        \/ Mixed (medium coat)","breedPrimary":"Australian Shepherd","breedPrimaryId":86,"isBreedMixed":true,"coatLength":"Medium","descriptionHtml":"I
        am a five month puppy who is really a happy dog. &nbsp;I need a forever home
        where I can run and play and enjoy my active life. &nbsp;Since I am only five
        months old, I am sure that I would be happy with another dog friend. &nbsp;Exercise
        is what I do need. &nbsp;You can make an appointment to meet me by calling
        951-845-1513. &nbsp;We can become great friends!<img src=\"https:\/\/tracker.rescuegroups.org\/pet?10005088\"
        width=\"0\" height=\"0\" alt=\"\" \/>","descriptionText":"I am a five month
        puppy who is really a happy dog. &nbsp;I need a forever home where I can run
        and play and enjoy my active life. &nbsp;Since I am only five months old,
        I am sure that I would be happy with another dog friend. &nbsp;Exercise is
        what I do need. &nbsp;You can make an appointment to meet me by calling 951-845-1513.
        &nbsp;We can become great friends!","priority":10,"name":"Roxy","pictureCount":2,"pictureThumbnailUrl":"https:\/\/s3.amazonaws.com\/filestore.rescuegroups.org\/105\/pictures\/animals\/10005\/10005088\/34656650_100x92.jpg","qualities":[""],"rescueId":"3978","sex":"Female","sizeGroup":"Medium","slug":"adopt-roxy-australian-shepherd-dog","isSponsorable":true,"summary":"I
        am a happy 5 month puppy","trackerimageUrl":"https:\/\/tracker.rescuegroups.org\/pet?10005088","url":"https:\/\/www.barconline.com\/animals\/detail?AnimalID=10005088","createdDate":"2016-05-15T01:26:54Z","updatedDate":"2016-05-19T16:58:16Z"}},{"type":"animals","id":"10005214","attributes":{"adoptionFeeString":"$250
        includes neuter and vaccines","ageGroup":"Baby","breedString":"Pomeranian
        \/ Cocker Spaniel \/ Mixed (medium coat)","breedPrimary":"Pomeranian","breedPrimaryId":182,"breedSecondary":"Cocker
        Spaniel","breedSecondaryId":123,"isBreedMixed":true,"coatLength":"Medium","descriptionHtml":"I
        am Kippy and I am a small three month old puppy. &nbsp;Along with my brother
        &nbsp;Kenny, I was rescued by a very kind Barc volunteer family when we were
        very tiny puppies. &nbsp;We are both looking for our forever homes where we
        will have a family to love and play with us. &nbsp;We love toys. &nbsp;To
        meet us, please file an online application to adopt us. &nbsp;You can also
        call m[...]
