---
http_interactions:
- request:
    method: post
    uri: https://api.rescuegroups.org/v5/public/orgs/105/animals/search?fields%5Banimals%5D=breedPrimary,ageGroup,name
    body:
      encoding: UTF-8
      string: "{"data":{"filters":[{"fieldName":"animals.breedPrimary","operation":"equals","criteria":"Shepherd"},{"fieldName":"animals.ageGroup","operation":"equals","criteria":"Adult"}]}}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - T5la0hn8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
    body:
      encoding: UTF-8
      string: "{"meta":{"count":3950,"countReturned":25,"pageReturned":1,"limit":25,"pages":158,"requestTime":1577579903,"responseTime":1577579903,"responseMs":69,"transactionId":"NOQweGGaISTe"},"data":[{"type":"animals","id":"10005058","attributes":{"breedPrimary":"Rat
        Terrier","ageGroup":"Young","name":"Charlie"}},{"type":"animals","id":"10005088","attributes":{"breedPrimary":"Australian
        Shepherd","ageGroup":"Baby","name":"Roxy"}},{"type":"animals","id":"10005214","attributes":{"breedPrimary":"Pomeranian","ageGroup":"Baby","name":"Kippy"}},{"type":"animals","id":"10005226","attributes":{"breedPrimary":"Pomeranian","ageGroup":"Baby","name":"Kenny"}},{"type":"animals","id":"10017","attributes":{"breedPrimary":"Pug","ageGroup":"Adult","name":"Pugsley"}},{"type":"animals","id":"10018","att[...]
