---
http_interactions:
- request:
    method: post
    uri: https://api.rescuegroups.org/v5/public/animals/search?fields%5Banimals%5D=name,breedPrimary&fields%5Borgs%5D=name,city,state&include=orgs&limit=30
    body:
      encoding: UTF-8
      string: '{"data":{"filters":[{"fieldName":"animals.breedPrimary","operation":"contains","criteria":"Staffordshire"},{"fieldName":"statuses.name","operation":"equals","criteria":"Available"}],"filterRadius":{"postalcode":"92107","miles":100}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - T5la0hn8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
    body:
      encoding: UTF-8
      string: '{"meta":{"count":148,"countReturned":30,"pageReturned":1,"limit":30,"pages":5,"requestTime":1577552631,"responseTime":1577552631,"responseMs":20,"transactionId":"BgjtByFCPuXa"},"data":[{"type":"animals","id":"11088874","attributes":{"distance":5.07,"name":"Sugar","breedPrimary":"American
        Staffordshire Terrier"},"relationships":{"orgs":{"data":[{"type":"orgs","id":"1034"}]}}},{"type":"animals","id":"11103925","attributes":{"distance":67.74,"name":"Sage","breedPrimary":"American
        Staffordshire Terrier"},"relationships":{"orgs":{"data":[{"type":"orgs","id":"5136"}]}}},{"type":"animals","id":"11284568","attributes":{"distance":5.07,"name":"Leo
        (aka Feo)","breedPrimary":"American Staffordshire Terrier"},"relationships":{"orgs":{"data":[{"type":"orgs","id":"1034"}]}}},{"type":"animals","id":"11352207","attributes":{"[...]
