---
http_interactions:
- request:
    method: post
    uri: https://api.rescuegroups.org/v5/public/orgs/search?fields%5Borgs%5D=name,city,state&limit=5
    body:
      encoding: UTF-8
      string: "{"data":{"filterRadius":{"postalcode":"92107","miles":100}}}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - T5la0hn8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
    body:
      encoding: UTF-8
      string: "{"meta":{"count":128,"countReturned":5,"pageReturned":1,"limit":5,"pages":26,"requestTime":1577553994,"responseTime":1577553994,"responseMs":27,"transactionId":"WmaHWQCiSLwa"},"data":[{"type":"orgs","id":"105","attributes":{"distance":82.85,"name":"Benevolent
        Animal Rescue Committee, Inc","city":"Cherry Valley","state":"CA"}},{"type":"orgs","id":"129","attributes":{"distance":59.08,"name":"Pet
        Haven Rescue Inc Murrieta","city":"Murrieta","state":"CA"}},{"type":"orgs","id":"331","attributes":{"distance":89.66,"name":"Long
        Beach Spay Neuter","city":"Long Beach","state":"CA"}},{"type":"orgs","id":"492","attributes":{"distance":69.45,"name":"Col.
        Potter Cairn Terrier Rescue Network","city":"Menifee","state":"CA"}},{"type":"orgs","id":"568","attributes":{"distance":96.23,"name":"City
        of Rancho Cucamonga Animal Shelter","city":"Rancho Cucamonga","state":"CA"}}]}"
  recorded_at: Sat, 28 Dec 2019 17:26:34 GMT
recorded_with: VCR 5.0.0
